{% extends 'base/base.html' %}

{% load static %}

{% block content %}
	<div class="col-md-12">
    	<h2>Big Data.</h2>
    	<hr/>
    	<p>El término aplica a la información que no puede ser procesada o analizada mediante procesos tradicionales. Para Big Data son "cantidades masivas de datos que se acumulan con el tiempo que son difíciles de analizar y manejar utilizando herramientas comunes de gestión de bases de datos", y para Big Data se refiere "al tratamiento y análisis de enormes repositorios de datos, tan desproporcionadamente grandes que resulta imposible tratarlos con las herramientas de bases de datos y analíticas convencionales".</p>
    	<p>Big Data "se refiere a las herramientas, los procesos y procedimientos que permitan a una organización crear, manipular y gestionar conjuntos de datos muy grandes y las instalaciones de almacenamiento".</p>
    	<hr/>
    	<h3>Tres Vs fundamentales:</h3>
    	<p>Existen tres características o dimensiones: Volumen, Velocidad y Variedad.</p>
    	<ul>
    		<li><strong>Volumen</strong>: cada día, las empresas registran un aumento significativo de sus datos (terabytes, petabytes y exabytes), creados por personas y máquinas. En el año 2000 se generaron 800.000 petabytes (PB), de datos almacenados y se espera que esta cifra alcance los 35 zettabytes (ZB) en el 2020.</li>
    		<li><strong>Variedad</strong>: Se puede mencionar que va muy de la mano con el volumen, pues de acuerdo con éste y con el desarrollo de la tecnología, existen muchas formas de representar los datos; es el caso de datos estructurados y no estructurados.</li>
    		<li><strong>Velocidad</strong>: Se refiere a la velocidad con que se crean los datos, que es la medida en que aumentan los productos de desarrollos de software (páginas web, archivos de búsquedas, redes sociales, foros, correos electrónicos, entre otros).[1]</li>
    	</ul>
    	<p>Pueden llegar a encontrar que existen hasta 6 Vs.</p>
    	<hr/>
    	<!--<h3>Herramientas:</h3>
    	<p></p>
    	<hr/>-->
    	<h3>Bases de datos NoSQL:</h3>
    	<ul>
    		<li>DynamoDB</li>
    		<li>Cassandra</li>
    		<li>Voldemort</li>
    		<li>Google BigTable</li>
    		<li>HBase</li>
    		<li>Riak</li>
    		<li>CouchDB</li>
    		<li>MongoDB</li>
    		<li>BaseX</li>
    	</ul>
    	<hr/>
    	<h3>Modelo de los datos:</h3>
    	<h4><strong>Datos estructurados:</strong></h4>
    	<p>Este tipo de datos se dividen en estáticos (array, cadena de caracteres y registros) y dinámicos (listas, pilas, colas, árboles, archivos).</p>
    	<h4><strong>Datos semiestructurados:</strong></h4>
    	<p>Estos datos no tienen un formato definido, lo que tienen son etiquetas que facilitan separar un dato de otro. Un dato de estos se lee con un conjunto de reglas de cierto nivel de complejidad.</p>
    	<h4><strong>Datos no estructurados:</strong></h4>
    	<p>(...)  Estos datos se pueden observar a diario en correos electrónicos, archivos de texto, un documento de algún procesador de palabra, hojas electrónicas, una imagen, un objeto, archivos de audio, blogs, mensajes de correo de voz, mensajes instantáneos, contenidos Web y archivos de video, entre otros.[1]</p>
    	<hr/>
    	<h3>Ciclo de vida de Big Data:</h3>
		<img class="img-responsive" id="logoAinteractiva" src="{% static 'img/ciclo.png' %}" alt="Logo AInteractiva">
		<small>Tomado de: https://www.researchgate.net/figure/Figura-1-Ciclo-de-vida-del-analisis-de-datos-Schmarzo-2013-Como-muestra-la-Figura-1_fig1_304580288</small>
		<hr/>
    	<small>Referencia: "Knowing the Big Data" <small>de Juan José Camargo-Vega, Jonathan Felipe Camargo-Ortega, Luis Joyanes-Aguilar</small> http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S0121-11292015000100006 [1]</small>
	</div>
{% endblock %}