{% extends 'base/base.html' %}

{% load static %}

{% block content %}
	<div class="col-md-12">
    	<h2>Ejercicios</h2>
		<div class="col-md-12">
			<hr/>
			<h3>Estudiantes:</h3>
			<h4>Datos:</h4>
			<pre>{{ datos }}</pre>
			<br/>
			<div class="col-md-3">
				<h4>Minimo materia:</h4>
				<pre>{{ minimoMateria }}</pre>
			</div>
			<div class="col-md-3">
				<h4>Maximo materia:</h4>
				<pre>{{ maximoMateria }}</pre>
			</div>
			<div class="col-md-3">
				<h4>Maximo:</h4>
				<pre>{{ maximo }}</pre>
			</div>
			<div class="col-md-3">
				<h4>Minimo:</h4>
				<pre>{{ minimo }}</pre>
			</div>
			<div class="col-md-3">
				<h4>Desviacion:</h4>
				<pre>{{ desviacion }}</pre>
			</div>
			<div class="col-md-3">
				<h4>Suma:</h4>
				<pre>{{ suma }}</pre>
			</div>
			<div class="col-md-3">
				<h4>Mediana:</h4>
				<pre>{{ mediana }}</pre>
			</div>
			<div class="col-md-3">
				<h4>Moda:</h4>
				<pre>{{ moda }}</pre>
			</div>
		</div>
    	<div class="col-md-12">
			<hr/>
			<h3>MapReduce:</h3>
			<div class="col-md-12">
				<h4>Archivo ejemplo:</h4>
				<pre>{{ leerArchivo }}</pre>
			</div>
			<div class="col-md-12">
				<h5>Resultados:</h5>
				<pre>{{ leerArchivoRespuesta }}</pre>
			</div>
		</div>
    	<div class="col-md-12">
			<hr/>
			<h3>Sockets:</h3>
		</div>
		<div class="col-md-12">
			<hr/>
			<h3>Plots (de <a target="_blank" href="http://bokeh.pydata.org/en/1.0.0/">Bokeh</a>):</h3>
			<div class="embed-responsive embed-responsive-16by9">
			  <iframe class="embed-responsive-item" src="../{{ plots }}" allowfullscreen></iframe>
			</div>
		</div>
	</div>
{% endblock %}