{% extends 'base/base.html' %}

{% load static %}

{% block content %}
	<div class="col-md-6">
    	<div class="embed-responsive embed-responsive-16by9">
	    	<div id="video">
			    <img class="img-responsive" src="{% static 'img/ainteractivaHD.png' %}" id="AInteractiva" style="cursor: pointer;"/>
			    <div id="videoAinteractiva"></div>
			</div>
	  	</div>
  	</div>
	<div class="col-md-6">
		<i class="fa fa-bitbucket" aria-hidden="true"></i>
		<i class="fa fa-amazon" aria-hidden="true"></i>
		<i class="fa fa-font-awesome" aria-hidden="true"></i>
		<i class="fa fa-chrome" aria-hidden="true"></i>
		<i class="fa fa-html5" aria-hidden="true"></i>
		<i class="fa fa-linux" aria-hidden="true"></i>
		<i class="fa fa-trello" aria-hidden="true"></i>
		<i class="fa fa-youtube" aria-hidden="true"></i>
		<i class="fa fa-stack-overflow" aria-hidden="true"></i>
		<i class="fa fa-fort-awesome" aria-hidden="true"></i>
		<i class="fa fa-google" aria-hidden="true"></i>
		<h3 class="text-center"><strong>Descripción del proyecto: <i class="fa fa-level-down" aria-hidden="true"></i></strong></h3>
		<hr/>
    	<p>La atención al cliente es una parte fundamental para la mejora y obtención de resultados para el crecimiento empresarial, en la actualidad la gran mayoría de las empresas, según el artículo “la calidad de la atención al cliente influye y mucho en los resultados financieros de las empresas” [1] nos confirma que esto puede impactar considerablemente las finanzas de la empresa y cuáles son los resultados que se puede obtener cuando se presta un mal servicio al usuario como puede ser las molestias y la desvinculación del usuario, por ello se identifica la necesidad de generar mejoras en los procesos de atención al cliente enfocados en una empresa de prestación de servicios de tecnología que su core del negocio son las mesas de servicio, para esto se toma las bases de datos que se generaron durante un año que muestran los registros de llamadas, generación de casos por cada llamada y un reporte de la satisfacción del cliente de acuerdo a la atención prestada, con esto se realizará un estudio analítico utilizando Big Data e inteligencia de negocios creando una arquitectura que pueda procesar grandes cantidades de datos y mostrar  gráficamente el comportamiento mensual y anual del ingreso de llamadas, cual es el tiempo aproximado de respuesta de la atención telefónica, tiempo de solución y así mismo identificar cual es la experiencia que  presenta el usuario y su satisfacción con la atención prestada, con esto se generar un valor agregado a la compañía que es informar al cliente cual es el tiempo de respuesta a su llamada y su posible solución, así mismo para la compañía se determinara cual es el mes con más flujo de llamadas y definir las horas pico, con el fin de generar estrategias de mejoras que nos permita evaluar en qué temporada del año se requieren más agentes de mesa para mitigar la saturación de llamadas identificados en los intervalos que se muestran en las gráficas de análisis. </p>
    </div>
	<!-- <hr/>
	<h4><strong>JUSTIFICACIÓN DEL PROYECTO Y ANTECEDENTES:</strong></h4>
	<p>Las investigaciones acerca de la eficiencia y efectividad en la atención del cliente que se ve involucradas en el sector empresarial permiten aclarar cuál es el factor clave en el crecimiento y permanencia de clientes en una compañía, esto quiere decir que al implementar una mejora en la satisfacción al cliente la compañía presentará un crecimiento continuo y estará estable en el mercado.</p>
	<p>Se identifica cuáles son las tareas principales para generar una buena analítica de Big Data con el fin de aplicar los conocimientos en los puntos principales como lo son el entendimiento de diferentes herramientas que nos permite interactuar con distintas bases de datos la complejidad de cada una de ellas para llegar a un análisis de las tendencias en el servicio al cliente y con estos resultados generar métricas de mejoramiento para las mesas de servicio enfocados a los clientes e implementar estrategias para la compañía.</p>
	<p>Nos enfocamos en las mesas de servicio y sus problemáticas que se tiene como los tiempos de ANS (Acuerdo de niveles de servicio) y sus flujos de llamadas en determinado intervalo de tiempo, con estos análisis podemos establecer una mejora en la atención al usuario implementando estrategias que permite obtener resultados que nos lleve a una estrategia de mejora.</p>
	<p>Por último el desarrollo de este proyecto se enfocara en la visualización y extracción de información relevantes para la empresa que permitirá identificar la información de manera más amigable y entendible para el cliente con el fin de detectar sus posibles cambios de la compañía.</p>
	<h5><i>Antecedentes:</i></h5>
	<p>Big data para el servicio al cliente se está moviendo muy fácil y rápido, las empresas están buscando nuevas soluciones - y se podría llamar hoy más una solución tecnológica - a la cual se puedan procesar la información de sus clientes para saber cómo están, cómo se sienten, predecir que pueden llegar a comprar el día de mañana. Se está desarrollando una aplicación para poder obtener una solución con una arquitectura de big data, y con ello mostrar resultados, estos pueden ser aproximados. “Para ello basta con disponer de un CRM y un programa de helpdesk. Una vez estén implantados en toda la compañía y sean de uso común entre los clientes, con el paso del tiempo podremos obtener una base de datos de conocimiento muy valiosa. Al disponer de estos programas en formato digital podemos generar todo tipo de informes y gráficos que, bien analizados, nos generarán un retrato robot de nuestros clientes o usuarios. (...) A partir de esos datos se puede personalizar la atención para cada cliente, anticiparse a sus necesidades o proponer mejoras que tú ya sabes que va a necesitar en poco tiempo.”</p>
	<hr/>
	<h4><strong>OBJETIVO PRINCIPAL:</strong></h4>
	<p>Construir una arquitectura con herramientas de Big Data abordando la inteligencia del negocio que permita identificar resultados sobre la atenciòn al cliente con el fin de mejorar las estrategias del mercado.</p>
	<hr/>
	<h4><strong>METODOLOGÍA PROPUESTA:</strong></h4>
	<ul>
		<li>Obtención de datos: partiendo de las fuentes de datos y tipos de datos (estructurados, no estructurados, etc.)</li>
		<li>Procesado de datos: separación, agrupación, filtrado.</li>
		<li>Limpieza de datos: eliminar duplicados, errores.</li>
		<li>Análisis exploratorio de datos: tendencias, histogramas para detectar grupos, gráficos.</li>
		<li>Modelado y algoritmos: datos estadísticos (medias, modas, desviaciones, máximos, mínimos).</li>
		<li>Visualización de datos: informes por graficas. [1]</li>
	</ul>
	<hr/>
	<h4><strong>ESTADO DEL ARTE DE LA INVESTIGACIÓN, DESARROLLO TECNOLÓGICO O INNOVACIÓN:</strong></h4>
	<p>Según los estudios realizados los últimos años se ha incrementado el uso de estas prácticas de manejo de datos masivos identificando que cada vez que se utiliza este tipo de actividades la entidad presenta un crecimiento en su mercado,  estos análisis de crecimiento fueron indicados por el artículo ÚLTIMOS ESTUDIOS SOBRE BIG DATA EN LAS EMPRESAS  que dicen lo siguiente En otro gran estudio del año pasado realizado por Gartner arroja unas cifras similares, alrededor del 30% de las empresas analizadas ya habían implantado y estaban utilizando tecnologías Big Data y se esperaba un crecimiento del 64% anual. A pesar de que todavía hay directivos que no han tomado nota del coste de oportunidad perdido al no apostar por las tecnologías Big Data todo apunta a que el boom de implantaciones puede ser inminente, revolucionando en los próximos 2 o 3 años la forma en que se tratan los datos y se trabaja en analítica de negocios. Lo anterior  concluye el impacto que está tomando estas nuevas tendencias de manejo de datos y su crecimiento durante el tiempo dándonos una certeza de la evolución y la importancia de la implementación de Big Data en estos tiempos.</p>
	<p>Como casos de éxito encontramos la empresa Claris Networks una de las empresas más grandes en el área de TI con experiencia en computación en la nube, servicios administrativos y prestación de servicios informáticos, dicha empresa requería obtener una visualización en tiempo real de cada de las herramientas que manejan actualmente y que se encuentran en funcionamiento las cuales se encuentran prestando servicio a los clientes de hosting. Aplicando las soluciones con Extrahop obtuvieron una reducción en los incidentes en un 60%, esto haciendo referencia en las mejoraron los tiempos de login en Citrix un 30% y redujeron los tiempos de acceso al portal de clientes en más de un 50%. El caso anterior expuesto nos indica que al aplicar este tipo de metodologías con diferentes herramientas nos puede ayudar a disminuir uno de los factores primordiales en la atención del cliente como lo es el tiempo de atención y disponibilidad de plataformas.</p>
	<img class="img-responsive" id="logoAinteractiva" src="{% static 'img/modelo.png' %}" alt="Logo AInteractiva">
	<small class="text-center">Ilustración 1: Herramientas a usar para el proyecto.</small>
	<hr/>
	<small>Referencia: "Análisis de Datos en Big Data: tipos y fases del análisis" <small>de ÁNGEL M. RAYO</small> https://www.bit.es/knowledge-center/analisis-de-datos-en-big-data/ [1]</small> -->
{% endblock %}