{% extends 'base/base.html' %}

{% load static %}

{% block contentResultados %}
	<!--<h3>Fuentes:</h3>
	<p>Las fuentes se tomaron del lugar de trabajo de Angelica Ajíaco del año 2017.</p>
	<label>Repositorio aranda del año 2017: </label>
	{{ aranda }}
	<br/>
	<br/>
	<label>Sistema gestor de contenido del año 2017: </label>
	{{ cms }}
	<br/>
	<br/>
	<label>Encuesta de satisfacción del año 2017: </label>
	{{ encuesta }}
	<hr/>-->
	<div class="wrapper row-offcanvas row-offcanvas-left">
		<aside class="left-side sidebar-offcanvas">                
          	<section class="sidebar">
              	<div class="user-panel">
                  <div class="pull-left info">
                      <p>AInteractiva</p>
                      <a><i class="fa fa-circle text-success"></i> En Linea <small>Dashboard</small></a>
                  </div>
              	</div>
              	<ul class="sidebar-menu">
                  	<li class="treeview">
                      	<a>
                          	<span>Repositorio Registro de Casos: </span>
                          	<i class="fa fa-server" aria-hidden="true"></i>
                          	<select id="opcionesResultadosRepAranda" class="form-control">
								<option value="../arandaBarrasRegistro">Tipos de registro por meses</option>
								<option value="../arandaBarraTotal">Tipos de registro totales</option>
								<option value="../arandaBarrasServicio">Tipos de servicios Barras/Dona</option>
							</select>
							<button id="verResultadosRepAranda" class="btn btn-sm btn-success btn-block">Ver <i class="fa fa-eye" aria-hidden="true"></i></button>
                      	</a>
                  	</li>
                  	<li class="treeview">
                      	<a>
                          <span>Repositorio de Llamadas: </span>
                          <i class="fa fa-life-ring" aria-hidden="true"></i>
                          <select id="opcionesResultadosRepCms" class="form-control">
								<option value="../tiempo">Llamadas Recibidad vs LLamadas Atenididas por meses</option>
								<option value="../tiempoTotal">Media de Llamadas Recibidad vs LLamadas Atenididas</option>
								<option value="../tiempoTotalMinMidMax">Comparación Llamadas Recibidad vs LLamadas Atenididas</option>
							</select>
							<button id="verResultadosRepCms" class="btn btn-sm btn-success btn-block">Ver <i class="fa fa-eye" aria-hidden="true"></i></button>
                      	</a>
                  	</li>
                  	<li class="treeview">
                      	<a>
                          <span>Encuesta de satisfacción: </span>
                          <i class="fa fa-star-half-o" aria-hidden="true"></i>
                          	<select id="opcionesResultadosRepEncuesta" class="form-control">
								<option value="../encuestaResultadosAtencion">Resultados de atención al cliente</option>
								<option value="../encuestaResultadosRespeto">Resultados de respeto al cliente</option>
								<option value="../encuestaResultadosEfectivo">Resultados de efectividad hacia el cliente</option>
								<option value="../encuestaResultadosVS">Versus de los tipos de evaluación</option>
								<option value="../wordcloud">WordCloud de Sugerencias</option>
							</select>
							<button id="verResultadosRepEncuesta" class="btn btn-sm btn-success btn-block">Ver <i class="fa fa-eye" aria-hidden="true"></i></button>
                      	</a>
                  	</li>
              	</ul>
          </section>
      	</aside>
      	<aside class="right-side">
      		<iframe id="pageOpen" class="embed-responsive-item" frameborder="0" style="width: 83%; height: 100%; position: absolute" src="../tiempoTotalMinMidMax"></iframe>
      	</aside>
	</div>
{% endblock %}