</body>
	<!-- styles -->
	{% load static %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono"/>
	<link href="{% static 'css/styles.css' %}?v0.8" rel="stylesheet" type="text/css"/>
	<!-- scripts -->
	<script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>
    <script src="https://www.youtube.com/player_api"></script>
    <script src="{% static 'js/script.js' %}?v0.8" type="text/javascript"></script>
</html>
