/**
	Colores: 
	Azul: #4565ae
	Blanco: #fff
	Negro: #000
**/
body {
	font-family: 'Droid Sans Mono', arial;
	background: linear-gradient(rgba(255,255,255,.94), rgba(255,255,255,.94)), url('/assets/img/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #4565ae;
}
#logoAinteractiva{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/**
	For Droid Sans if needeed
**/
/**h1 { font-family: "Droid Sans Mono"; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Droid Sans Mono"; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Droid Sans Mono"; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Droid Sans Mono"; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Droid Sans Mono"; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
**/
a:hover,
a:active,
a:focus{outline:none;text-decoration:none;color:#72afd2;}
.wrapper{min-height:100%;}
.wrapper:before,
.wrapper:after{display:table;content:" ";}
.wrapper:after{clear:both;}
.right-side,
.left-side{min-height:100%;display:block;}
.right-side{background-color:#f9f9f9;margin-left:300px;margin-top:-20px;}
.left-side{position:absolute;width:300px;top:0;}
@media screen and (min-width:992px){.left-side{top:50px;}
.right-side.strech{margin-left:0;}
.right-side.strech > .content-header{margin-top:0px;}
.left-side.collapse-left{left:-220px;}
}
@media screen and (max-width:992px){.right-side{margin-left:0;}
}
body.fixed > .header,
body.fixed .left-side,
body.fixed .navbar{position:fixed;}
body.fixed > .header{top:0;right:0;left:0;}
body.fixed .navbar{left:0;right:0;}
body.fixed .wrapper{margin-top:50px;}
.content{padding:20px 15px;background:#f1f1f1;}
.page-header{margin:10px 0 20px 0;font-size:22px;}
.page-header > small{color:#666;display:block;margin-top:5px;}
.sort-highlight{background:#f4f4f4;border:1px dashed #ddd;margin-bottom:10px;}
.pad{padding:10px;}
.margin{margin:10px;}
.inline{display:inline;width:auto;}
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black{color:#f9f9f9 !important;}
.bg-gray{background-color:#eaeaec !important;}
.bg-black{background-color:#222222 !important;}
.bg-red{background-color:#f56954 !important;}
.bg-yellow{background-color:#f39c12 !important;}
.bg-aqua{background-color:#00c0ef !important;}
.bg-blue{background-color:#0073b7 !important;}
.bg-light-blue{background-color:#3c8dbc !important;}
.bg-green{background-color:#00a65a !important;}
.bg-navy{background-color:#001f3f !important;}
.bg-teal{background-color:#39cccc !important;}
.bg-olive{background-color:#3d9970 !important;}
.bg-lime{background-color:#01ff70 !important;}
.bg-orange{background-color:#ff851b !important;}
.bg-fuchsia{background-color:#f012be !important;}
.bg-purple{background-color:#932ab6 !important;}
.bg-maroon{background-color:#85144b !important;}
.text-red{color:#f56954 !important;}
.text-yellow{color:#f39c12 !important;}
.text-aqua{color:#00c0ef !important;}
.text-blue{color:#0073b7 !important;}
.text-light-blue{color:#3c8dbc !important;}
.text-green{color:#00a65a !important;}
.text-navy{color:#001f3f !important;}
.text-teal{color:#39cccc !important;}
.text-olive{color:#3d9970 !important;}
.text-lime{color:#01ff70 !important;}
.text-orange{color:#ff851b !important;}
.text-fuchsia{color:#f012be !important;}
.text-purple{color:#932ab6 !important;}
.text-maroon{color:#85144b !important;}
.hide{display:none !important;}
.no-border{border:0px !important;}
.no-padding{padding:0px !important;}
.no-margin{margin:0px !important;}
.no-shadow{box-shadow:none!important;}
@media print{.no-print{display:none;}
.left-side,
.header,
.content-header{display:none;}
.right-side{margin:0;}
}
.flat{-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important;}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th{background-color:#f3f4f5;}
table.text-center td,
table.text-center th{text-align:center;}
.jqstooltip{padding:5px!important;width:auto!important;height:auto!important;}
body > .header{position:relative;max-height:100px;z-index:1030;}
body > .header .navbar{height:50px;margin-bottom:0;margin-left:220px;}
body > .header .navbar .sidebar-toggle{float:left;padding:9px 5px;margin-top:8px;margin-right:0;margin-bottom:8px;margin-left:5px;background-color:transparent;background-image:none;border:1px solid transparent;-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important;}
body > .header .navbar .sidebar-toggle:hover .icon-bar{background:#f6f6f6;}
body > .header .navbar .sidebar-toggle .icon-bar{display:block;width:22px;height:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
body > .header .navbar .sidebar-toggle .icon-bar + .icon-bar{margin-top:4px;}
body > .header .navbar .nav > li.user > a{font-weight:bold;}
body > .header .navbar .nav > li.user > a > .fa,
body > .header .navbar .nav > li.user > a > .glyphicon,
body > .header .navbar .nav > li.user > a > .ion{margin-right:5px;}
body > .header .navbar .nav > li > a > .label{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;position:absolute;top:7px;right:2px;font-size:10px;font-weight:normal;width:15px;height:15px;line-height:1.0em;text-align:center;padding:2px;}
body > .header .navbar .nav > li > a:hover > .label{top:3px;}
body > .header .logo{float:left;font-size:20px;line-height:50px;text-align:center;padding:0 10px;width:220px;font-family:'Kaushan Script', cursive;font-weight:500;height:50px;display:block;}
body > .header .logo .icon{margin-right:10px;}
.right-side > .content-header{position:relative;padding:15px 15px 10px 20px;}
.right-side > .content-header > h1{margin:0;font-size:24px;}
.right-side > .content-header > h1 > small{font-size:15px;display:inline-block;padding-left:4px;font-weight:300;}
.right-side > .content-header > .breadcrumb{float:right;background:transparent;margin-top:0px;margin-bottom:0;font-size:12px;padding:7px 5px;position:absolute;top:15px;right:10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.right-side > .content-header > .breadcrumb > li > a{color:#444;text-decoration:none;}
.right-side > .content-header > .breadcrumb > li > a > .fa,
.right-side > .content-header > .breadcrumb > li > a > .glyphicon,
.right-side > .content-header > .breadcrumb > li > a > .ion{margin-right:5px;}
.right-side > .content-header > .breadcrumb > li + li:before{content:'>\00a0';}
@media screen and (max-width:767px){.right-side > .content-header > .breadcrumb{position:relative;margin-top:5px;top:0;right:0;float:none;background:#efefef;}
}
@media (max-width:767px){.navbar .navbar-nav > li{float:left;}
.navbar-nav{margin:0;float:left;}
.navbar-nav > li > a{padding-top:15px;padding-bottom:15px;line-height:20px;}
.navbar .navbar-right{float:right;}
}
@media screen and (max-width:560px){body > .header{position:relative;}
body > .header .logo,
body > .header .navbar{width:100%;float:none;position:relative!important;}
body > .header .navbar{margin:0;}
body.fixed > .header{position:fixed;}
body.fixed > .wrapper,
body.fixed .sidebar-offcanvas{margin-top:100px!important;}
}
.sidebar{margin-bottom:5px;}
.sidebar .sidebar-form input:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-color:transparent!important;}
.sidebar .sidebar-menu{list-style:none;margin:0;padding:0;}
.sidebar .sidebar-menu > li{margin:0;padding:0;}
.sidebar .sidebar-menu > li > a{padding:12px 5px 12px 15px;display:block;}
.sidebar .sidebar-menu > li > a > .fa,
.sidebar .sidebar-menu > li > a > .glyphicon,
.sidebar .sidebar-menu > li > a > .ion{width:20px;}
.sidebar .sidebar-menu .treeview-menu{display:none;list-style:none;padding:0;margin:0;}
.sidebar .sidebar-menu .treeview-menu > li{margin:0;}
.sidebar .sidebar-menu .treeview-menu > li > a{padding:5px 5px 5px 15px;display:block;font-size:14px;margin:0px 0px;}
.sidebar .sidebar-menu .treeview-menu > li > a > .fa,
.sidebar .sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar .sidebar-menu .treeview-menu > li > a > .ion{width:20px;}
.user-panel{padding:10px;}
.user-panel:before,
.user-panel:after{display:table;content:" ";}
.user-panel:after{clear:both;}
.user-panel > .image > img{width:45px;height:45px;}
.user-panel > .info{font-weight:600;padding:5px 5px 5px 15px;font-size:14px;line-height:1;}
.user-panel > .info > p{margin-bottom:9px;}
.user-panel > .info > a{text-decoration:none;padding-right:5px;margin-top:3px;font-size:11px;font-weight:normal;}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon{margin-right:3px;}
@media screen and (max-width:992px){.relative{position:relative;}
.row-offcanvas-right .sidebar-offcanvas{right:-220px;}
.row-offcanvas-left .sidebar-offcanvas{left:-220px;}
.row-offcanvas-right.active{right:220px;}
.row-offcanvas-left.active{left:220px;}
.sidebar-offcanvas{left:0;}
body.fixed .sidebar-offcanvas{margin-top:50px;left:-220px;}
body.fixed .row-offcanvas-left.active .navbar{left:220px !important;right:0;}
body.fixed .row-offcanvas-left.active .sidebar-offcanvas{left:0px;}
}

.form-control:focus{border-color:#3c8dbc !important;box-shadow:none;}
.form-group.has-success label{color:#00a65a;}
.form-group.has-success .form-control{border-color:#00a65a !important;box-shadow:none;}
.form-group.has-warning label{color:#f39c12;}
.form-group.has-warning .form-control{border-color:#f39c12 !important;box-shadow:none;}
.form-group.has-error label{color:#f56954;}
.form-group.has-error .form-control{border-color:#f56954 !important;box-shadow:none;}
.input-group .input-group-addon{border-radius:0;background-color:#f4f4f4;}
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type{border-radius:0;}
.checkbox,
.radio{padding-left:0;}

.skin-blue .logo{background-color:#367fa9;color:#f9f9f9;}
.skin-blue .logo > a{color:#f9f9f9;}
.skin-blue .logo:hover{background:#357ca5;}
.skin-blue .right-side > .content-header{background:#fbfbfb;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);}
.skin-blue .user-panel > .image > img{border:1px solid #dfdfdf;}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a{color:#555555;}
.skin-blue .sidebar{border-bottom:1px solid #fff;}
.skin-blue .sidebar > .sidebar-menu > li{border-top:1px solid #fff;border-bottom:1px solid #dbdbdb;}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type{border-top:1px solid #dbdbdb;}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a{border-top:1px solid #fff;}
.skin-blue .sidebar > .sidebar-menu > li > a{margin-right:1px;}
.skin-blue .sidebar > .sidebar-menu > li > a:hover,
.skin-blue .sidebar > .sidebar-menu > li.active > a{color:#222;background:#f9f9f9;}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu{margin:0 1px;background:#f9f9f9;}
.skin-blue .left-side{background:#f4f4f4;-webkit-box-shadow:inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);box-shadow:inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);}
.skin-blue .sidebar a{color:#555555;}
.skin-blue .sidebar a:hover{text-decoration:none;}
.skin-blue .treeview-menu > li > a{color:#777;}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover{color:#111;}
.skin-blue .sidebar-form{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #dbdbdb;margin:10px 10px;}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn{box-shadow:none;background-color:#fafafa;border:1px solid #fafafa;height:35px;}
.skin-blue .sidebar-form input[type="text"]{color:#666;-webkit-border-top-left-radius:2px !important;-webkit-border-top-right-radius:0 !important;-webkit-border-bottom-right-radius:0 !important;-webkit-border-bottom-left-radius:2px !important;-moz-border-radius-topleft:2px !important;-moz-border-radius-topright:0 !important;-moz-border-radius-bottomright:0 !important;-moz-border-radius-bottomleft:2px !important;border-top-left-radius:2px !important;border-top-right-radius:0 !important;border-bottom-right-radius:0 !important;border-bottom-left-radius:2px !important;}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn{background-color:#fff;color:#666;}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn{border-left-color:#fff;}
.skin-blue .sidebar-form .btn{color:#999;-webkit-border-top-left-radius:0 !important;-webkit-border-top-right-radius:2px !important;-webkit-border-bottom-right-radius:2px !important;-webkit-border-bottom-left-radius:0 !important;-moz-border-radius-topleft:0 !important;-moz-border-radius-topright:2px !important;-moz-border-radius-bottomright:2px !important;-moz-border-radius-bottomleft:0 !important;border-top-left-radius:0 !important;border-top-right-radius:2px !important;border-bottom-right-radius:2px !important;border-bottom-left-radius:0 !important;}
.skin-black .logo{background-color:#333333;color:#f9f9f9;}
.skin-black .logo > a{color:#f9f9f9;}
.skin-black .logo:hover{background:#303030;}
.skin-black .right-side > .content-header{background:transparent;box-shadow:none;}
.skin-black .user-panel > .image > img{border:1px solid #444;}
.skin-black .user-panel > .info,
.skin-black .user-panel > .info > a{color:#eee;}
.skin-black .sidebar{border-bottom:1px solid #333;}
.skin-black .sidebar > .sidebar-menu > li{border-top:1px solid #333;border-bottom:0px solid #444;}
.skin-black .sidebar > .sidebar-menu > li:first-of-type{border-top:1px solid #444;}
.skin-black .sidebar > .sidebar-menu > li:first-of-type > a{border-top:0px solid #333;}
.skin-black .sidebar > .sidebar-menu > li > a{margin-right:1px;}
.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a{color:#f6f6f6;background:#444;}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu{margin:0 1px;background:#444;}
.skin-black .left-side{background:#333;}
.skin-black .sidebar a{color:#eee;}
.skin-black .sidebar a:hover{text-decoration:none;}
.skin-black .treeview-menu > li > a{color:#ccc;}
.skin-black .treeview-menu > li.active > a,
.skin-black .treeview-menu > li > a:hover{color:#fff;}
.skin-black .sidebar-form{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:0px solid #555;margin:10px 10px;}
.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn{box-shadow:none;background-color:rgba(255, 255, 255, 0.1);border:0 solid rgba(255, 255, 255, 0.1);height:35px;outline:none;}
.skin-black .sidebar-form input[type="text"]{color:#666;-webkit-border-top-left-radius:2px !important;-webkit-border-top-right-radius:0 !important;-webkit-border-bottom-right-radius:0 !important;-webkit-border-bottom-left-radius:2px !important;-moz-border-radius-topleft:2px !important;-moz-border-radius-topright:0 !important;-moz-border-radius-bottomright:0 !important;-moz-border-radius-bottomleft:2px !important;border-top-left-radius:2px !important;border-top-right-radius:0 !important;border-bottom-right-radius:0 !important;border-bottom-left-radius:2px !important;}
.skin-black .sidebar-form input[type="text"]:focus,
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn{background-color:#444;border:0;}
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn{border-left:0;}
.skin-black .sidebar-form .btn{color:#999;-webkit-border-top-left-radius:0 !important;-webkit-border-top-right-radius:2px !important;-webkit-border-bottom-right-radius:2px !important;-webkit-border-bottom-left-radius:0 !important;-moz-border-radius-topleft:0 !important;-moz-border-radius-topright:2px !important;-moz-border-radius-bottomright:2px !important;-moz-border-radius-bottomleft:0 !important;border-top-left-radius:0 !important;border-top-right-radius:2px !important;border-bottom-right-radius:2px !important;border-bottom-left-radius:0 !important;border-left:0;}
